/*

app-template.css overrides

remove this comment if used
remove this file if not

*/

/* button logout */

.share-control {
    display: none;
}

.user_on .destroy {
    visibility: hidden;
    color: #af5b5e;
}

.set h1:hover .destroy {
    visibility: visible;
}

#todolists, #shares {
    width: 98%;
}

.user_on {
    display: none;
}

.user_off {
    display: block;
}

#error {
    color: mediumvioletred;
}

.updated {
    font-weight: bolder;
    color: blue;
}

.todo_button {
    font-size: 150% !important;
    width: 25px;
}

.todo_button:hover {
    color: blue;
}

.todolist_mode_1:before, .share_mode_1:before {
    content: '👮 '; /* owner */
}

.todolist_mode_2:before, .share_mode_2:before {
    content: '🎨 '; /* edit */
}

.todolist_mode_3:before, .share_mode_3:before {
    content: '🐵 '; /* see */
}

#todoapp.disabled .destroy, #todoapp.disabled .clear-completed {
    display: none;
}

#todoapp .header i {
    font-size: 54px;
    visibility: hidden;
    color: #cc9a9a;
}

#todoapp.disabled .header i {
    font-size: 54px;
    visibility: visible;
    color: #cc9a9a;
}

#todoapp.disabled label.toggle-all-label,
#todoapp.disabled #toggle-all,
#todoapp.disabled .new-todo {
    visibility: hidden;
}